@font-face {
  font-family: Montserrat-Black;
  src: url(../fonts/Montserrat-Black.ttf);
}
@font-face {
  font-family: Montserrat-BlackItalic;
  src: url(../fonts/Montserrat-BlackItalic.ttf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-BoldItalic;
  src: url(../fonts/Montserrat-BoldItalic.ttf);
}
@font-face {
  font-family: Outrun-future-Bold;
  src: url(../fonts/Outrun-future-Bold.otf);
}

@font-face {
  font-family: Montserrat-Light;
  src: url(../fonts/Montserrat-Light.ttf);
}

body, html{
    margin:0;
	padding:0;
	/* overflow-
	x: hidden; */
	
}
div{
	word-wrap: break-word;
}

html{
	width: 100%;
}
		body{
			background: url(../img/Images/BG.png) no-repeat;
			width: 100%;
		}
		#front{

			background: url("../img/Images/front_background.png");
			background-size: cover;
			position: relative;
			
		}
		#header{
			position: fixed;
		top: 0;
		z-index: 100;
		width: 100%;
			
		}
		.navbar{
			background-color: #080808e6;
		}
		button:hover{
			cursor: pointer;
		}
		a,h1{
			
			width: 100%;
			color: #fff !important;
			white-space: nowrap;
		}
		a:hover{
			color: #fff;
		}
		h3,p,h4,h5,h6{
			width: 100%;
			color: #fff;
			font-family: Montserrat-Light;
		}
		.book-now{
			font-family: Outrun-future-Bold;
			background: url(../img/Images/Button.png) no-repeat;
			background-size: 187px 59px;
			background-position: 50%;
			border: none;
			padding: 19px 50px;
		}
		.book-now:hover{
			transform: translateY(-2px);
			transition: 0.5s;
		}
		.red-neon{
			font-family: Outrun-future-Bold;
			color: #fff !important;
			
			text-shadow:0 0 15px #FF0000, 0 0 20px #FF0000;
		}
		.blue-neon{
			font-family: Outrun-future-Bold;
			color: #fff !important;
				text-shadow:  0 0 15px #737fb8, 0 0 20px #737fb8;
		}
		.green-neon{
			font-family: Outrun-future-Bold;
			color: #fff !important;
				text-shadow:  0 0 15px #15933e, 0 0 20px #15933e;
		}
		.yellow-neon{
			font-family: Outrun-future-Bold;
			color: #fff !important;
			text-shadow:0 0 15px #582E0F, 0 0 20px #582E0F,0 0 25px #582E0F;
		}
		li:hover a{
						color: #000 !important;
		}
		.active a{
							color: #000 !important;
		}
		.navbar{
			display: flex;
			justify-content: space-between;
		}
		.navbar-collapse{
			flex-direction: row-reverse;
		}
		.navbar-nav{
			padding: 10px 0px;
		}
		li{
			padding: 10px;
			
		}
		.center-content{
			/* position: absolute; */
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 10% 0;
		}
		.container-marquee{
			margin: auto 8vw;
		}
		.front-bottom{
			background:  url(../img/Images/FadetoPhotoBG.png);
			background-size: cover;
			position: relative;
			
			z-index: 0;
			width: 100%;
			transform: translateY(-6.5em);
		}
		.front-bottom img{
			width: 100%;
			/*width: 100px;*/
			/*height: 100px;*/
		}

		.section-2{
			background: url(../img/Images/PhotoAboutus.png) no-repeat;
			background-size: 80% 100%;
			position: relative;
			z-index: 2;
		}
		.section-2-img{
			width: 80% !important;
		height: 95% !important;
		/* padding-top: 72%; */
		
		margin-left: 6vw;
		}
		.col-3{
			padding: 0;
		}
		.row{
			margin: 0 !important;
		}

.fade-to-div{
	max-height: 9em;overflow: hidden;position: absolute;bottom: 0;left: 0;transform: translateY(35px);
}
.fade-to-div img{
	width: 100%;
}
.responsive-nav{
	width: 100%; 
	display: flex;
	flex-direction: row;
	 justify-content: space-between;
}
.about-us-right{
	padding: 30% 85px;
}
.slider-container{
	position: relative; 
	background:url(../img/Images/Photo_2.png) no-repeat;
	background-position: 70% 20px;
	padding-bottom: 30%; 
}
#contactus{
	background:url(../img/Images/FadetoPhotoBG.png) no-repeat;
	background-size: cover; 
}
.inner-contactus{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* padding: 0 60px 0px 25px; */
}
#logo{
	margin-left: 6vw;
}
.footer-logo img{
	width: 100px;
	height: 100px;
	margin-left: 5.6vw;
}

.slider-img:hover{
	cursor: pointer;
	border: 6px solid #ff443c;
}

i{
	color: #fff;
	font-size: 2em;
}
footer li:hover a{
	color: #fff !important;
}
.far{
	vertical-align: middle;
}

footer ul li{
	font-size: 15px;
	word-wrap: break-word;
	padding: 10px 10px;
	/* text-align: end; */
	/* margin-left:100px; */
}
.footer-nav{
	list-style-type: none;
	display: flex;
	flex-direction: row; 
	justify-content: flex-end;
}


.break{
	white-space: inherit;
}
.navbar-dark .navbar-toggler{
	border: none;
}

.wrap { 
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
 }
 .bottom-follow{
	 text-align-last: center;
 }

@media screen and (max-width: 992px) {
	#logo{
		width: 100px;
		height: 100px;
	}

	.footer-logo img{
		width: 100px;
		height: 100px;
	}

	
  }

  @media screen and (max-width: 900px) {
	#logo{
		width: 100px;
		height: 100px;
	}
	.footer-logo img{
		width: 100px;
		height: 100px;
	}
  }

  @media screen and (max-width: 850px) {
	#logo{
		width: 80px;
		height: 80px;
	}
	.footer-logo img{
		width: 80px;
		height: 80px;
	}
  }

  @media screen and (max-width: 800px) {
	#logo{
		width: 60px;
		height: 60px;
	}
	.footer-logo img{
		width: 60px;
		height: 60px;
	}
  }

  @media screen and (max-width: 570px) {
	.footer-nav li{
		display: block;
	}
	.bottom-follow{
		text-align-last: start;
	}
  }